#title-bar {
  -webkit-app-region: drag;
  height: 24px;
  background-color: darkviolet;
  padding: none;
  margin: 0px;
}

#title {
  position: fixed;
  top: 0px;
  left: 16px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  /* position: fixed;
  top: 0px;
  right: 16px; */
}

#title-bar-btns button {
  margin: 0 10px;
}
