@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Outfit';
  font-weight: 700;
  src: url('/assets/fonts/Outfit-Bold.ttf');
}
